* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(185, 41%, 84%);
}

header {
  height: 100px;
}

header img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  border: none;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #fff;
}

.calc h1 {
  font-size: 1.2rem;
  color: rgb(182, 184, 185);
  margin-bottom: 0.5rem;
}

.container input {
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
  color: hsl(183, 100%, 15%);
  border-radius: 5px;
  /* -webkit-appearance: none; */
}

.container input:focus {
  outline: none;
  border: none;
}

.container input:hover {
  cursor: pointer;
}

.container input:active {
  outline: none;
}

.container .input {
  position: relative;
}

.container .input:hover {
  border: 1px solid hsl(186, 14%, 43%);
  border-radius: 0.3rem;
  cursor: pointer;
}

.input {
  background-color: hsl(189, 41%, 97%);
  margin-bottom: 2rem;
  padding: 1rem 0.5rem;
}

.input img {
  margin-left: 0.5rem;
  text-align: center;
  position: absolute;
  top: 35%;
}

.tip {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tips {
  border: none;
  background-color: hsl(183, 100%, 15%);
  padding: 1rem;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 0.4rem;
}

.tips:hover {
  background-color: hsl(172, 67%, 45%);
}

.tip-3 {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.tip-6 {
  background-color: hsl(189, 41%, 97%);
  border: none;
  text-align: center;
  color: #fff;
  font-size: 0.2rem;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 0.4rem;
  color: hsl(184, 14%, 56%);
}

.tip-6:hover {
  border: 2px solid hsl(186, 14%, 43%);
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: #fff;
}

.text {
  display: flex;
  justify-content: space-between;
}

.people {
  margin-top: 1rem;
}

.error {
  order: 2;
}

.result {
  display: flex;
  flex-direction: column;
  border-right: none;
  background-color: hsl(183, 100%, 15%);
  padding: 4rem 2rem;
  border-radius: 1.5rem;
}

.result h1 {
  font-size: 1.5rem;
  color: #fff;
}

span {
  font-size: 1rem;
  color: hsl(184, 14%, 56%);
}

.tip-amount {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
}

.tip-amount .amount {
  font-size: 3rem;
  color: hsl(172, 67%, 45%);
  margin-left: 1rem;
}

.total .amount {
  font-size: 3rem;
  color: hsl(172, 67%, 45%);
  margin-left: 1rem;
}

.total .amount2 {
  font-size: 3rem;
  color: hsl(172, 67%, 45%);
  margin-left: 1rem;
}

.btn {
  margin-top: 7rem;
  padding: 1rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 0.4rem;
  border: none;
  background-color: hsl(172, 67%, 45%);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

.people .less {
  border: 2px solid red;
}

@media (max-width: 750px) {
  body {
    display: flex;
  }

  header {
    margin-top: 2rem;
  }

  .container {
    grid-template-columns: 1fr;
    margin: 2rem 0;
  }

  .result {
    margin-top: -3rem;
  }
}
