*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Primary */
    --strong-cyan: hsl(172, 67%, 45%);

    /* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body{
    background-color: var(--light-grayish-cyan);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

#white{
    padding: 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background: var(--white);
}

.input{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1.1rem;
    margin: .5rem 0;
    color: var(--very-dark-cyan)
}

input{
    height: 2rem;
}

.input{
    margin: .8rem 0;
}

.calc-input{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    background-color: var(--very-light-grayish-cyan);
}

.calc-input img{
    width: 20px;
}

#bill,
#people{
    outline: none;
    border: none;
    text-align: right;
    background-color: var(--very-light-grayish-cyan);
    border-radius: .2rem;
    width: 100%;
    font-size: 20px;
}

#bill::before{
    padding: 0 1.5rem;
}

.percents{
    width: 100%;
}

.percents input{
    width: 49%;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1rem;
    border: none;
    height: 2.5rem;
    border-radius: .2rem;
    color: var(--white);
    background-color: var(--very-dark-cyan);
    cursor: pointer;
}

#custom{
    color: var(--very-dark-cyan);
    background-color: var(--very-light-grayish-cyan);
}

.green-right{
    padding: 1.5rem 1rem;
    background-color: var(--very-dark-cyan);
    border-radius: 1rem;
}

.display{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

.disp-label .lab1{
    color: var(--white);
}

.disp-label .lab2{
    color: var(--dark-grayish-cyan);
}

.disp-numbers h2{
    color: var(--strong-cyan);
    font-weight: 600;
    font-size: 2rem;
}

#reset{
    margin-top: 1.5rem;
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: .3rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--very-dark-cyan);
    cursor: pointer;
    background-color: var(--strong-cyan);
}

/* Laptop version */
@media screen and (min-width: 990px){
    /* .project{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    } */

    .logo{
        margin-bottom: 4rem;
    }

    .project{
        /* display: flex; */
        position: absolute;
        left: 50%;
        top: 50%;
        /* justify-content: center; */
        width: 70%;
        transform: translate(-50%, -50%);
    }

    .white-sect{
        display: flex;
        gap: 4rem;
        width: 100%;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

    .white-left
    {
        width: 55%;
    }

    .green-right{
        width: 45%;
        padding: 4rem 1.5rem 0 1.5rem;
    }

    #reset{
        margin-top: 7rem;
    }

    /* .inputs{
        min-width: 200px;
        width: 100%;
    } */

    .percents input{
        width: 10rem;
        padding-right: 1rem;
        padding-left: 1rem;
        /* text-align: right; */
    }

    #tip:hover{
        background-color: var(--strong-cyan);
    }


}